<body style="background-color: beige;">
  <h1 style="color: black;">All of your very many stores</h1>
  <h4 style="color: black;"> as you've created and wanted to see (read) them</h4>
  <%= form_with url:"/stores?search_q=#{params[:search_q]}", method: :get, local: true do |form|%>
    <%= form.label :query, "Search by name"  %>
    <%= form.text_field :query, name: :search_q %>
    <%= form.submit "Search" %>
  <% end %>
  <br><hr>
  <% if (@stores.class != Store && @stores.class != NilClass) || @stores.class == Array%>
    <% @stores.each do |store| %>
      <div style="width: 800px; background-color: LightSlateGrey; padding: 20px; border-radius: 25px;">
        <h2><a href="/stores/<%= store.id %>" style="color: black; padding: 5px;"><%= store.name %></a></h2>
        <p style="color: black; padding: 5px; width: 41%;">Created: <%= store.created_at.to_s %><p>
        <p><a href="stores/<%= store.id %>/products" style="color: black; padding: 5px;">This stores products</a></p>
        <%= button_to "Update #{store.name}", "stores/#{store.id}/edit", method: :get %><br/>
        <%= form_with url: "/stores/#{store.id}", method: :delete, local: true do |form| %>
          <%= form.submit "Delete #{store.name}" %>
        <% end %>
      </div>
      <hr/>
    <% end %>
  <% elsif @stores.class == NilClass %>
    <h3> Nothing matches <%= params[:search_q] %> </h3>
  <% else %>
    <div style="width: 800px; background-color: LightSlateGrey; padding: 20px; border-radius: 25px;">
      <h2><a href="/stores/<%= @stores.id %>" style="color: black; padding: 5px;"><%= @stores.name %></a></h2>
      <p style="color: black; padding: 5px; width: 41%;">Created: <%= @stores.created_at.to_s %><p>
      <p><a href="stores/<%= @stores.id %>/products" style="color: black; padding: 5px;">This stores products</a></p>
      <%= button_to "Update #{@stores.name}", "stores/#{@stores.id}/edit", method: :get %><br/>
      <%= form_with url: "/stores/#{@stores.id}", method: :delete, local: true do |form| %>
        <%= form.submit "Delete #{@stores.name}" %>
      <% end %>
    </div>
    <hr/>
  <% end %>
  <br><h3 style="width: 800px; background-color: LightSlateGrey; padding: 20px; border-radius: 25px;"><a href='/stores/new' style="color: black;">New Store</a></h3>
</body>
