<a href="/stores">Back to All Stores</a><br/>
<a href="/products">Back to All Products</a>

<%= form_with url: '/stores', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :description %>
  <%= form.text_field :description %><br/><br/>
  <%= form.label :address %>
  <%= form.text_field :address %><br/><br/>
  <%= form.hidden_field :sale, value: false %>
  <%= form.hidden_field :rating, value: 5 %>


  <%= form.submit "Create Store" %>
<% end %>
