<a href="/stores">Back to All Stores</a></br>
<a href="/stores/<%= @store.id %>">Back to <%= @store.name %></a></br>
<a href="/products">Back to All Products</a>

<h1> <%= @store.name %>'s products</h1><hr/>

<% @products.each do |product| %>
  <h3><a href="/stores/<%= @store.id %>/products/<%= product.id %>"><%= product.name %></a></h3>
  <p><%= product.description %></p>
  <p><%= product.price %></p>
  <p><%= product.quantity %></p>
  <p><%= product.sale_status %></p>
  <hr/>
<% end %>

<%= button_to "Add product to #{@store.name}", "/stores/#{@store.id}/products/new", method: :get %>
