<a href="/stores">All Stores</a><br/>
<a href="/products">All Products</a><br/>
<a href="/stores/<%= @store.id %>/products">Back to <%= @store.name %>'s products</a>

<h2><%= @product.name %> Informtation:</h2>
<h4>Name:</h4>
<h1><strong><%= @product.name %></strong></h1>

<p>Description: <strong><%= @product.description %></strong></p>
<p>Price: <strong><%= @product.price %></strong></p>
<p>Quantity: <strong><%= @product.quantity %></strong></p>
<p>Sale: <strong><%= @product.sale_status %></strong></p><br/>
<p>Available at: <strong><%= @product.store.name %></strong></p><br/>

<%= button_to "Update Product", "#{@product.id}/edit", method: :get %>
