<a href="/stores">All Stores</a>

<h1>All Products<h1><hr/>

  <% @products.each do |product| %>
    <% if product.available_online %>
      <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
      <p>Description: <strong><%= product.description %></strong></p>
      <p>Price: <strong>$<%= product.price %></strong></p>
      <p>Total quantity (between all locations): <strong><%= product.quantity %> </strong></p>
      <p>Availability: <strong><%= product.available_online? %></strong></p>
      <p>Available at: <strong><%= product.store.name %></strong></p>
      <br/><br/>
      <%= button_to "Update #{product.name}", "products/#{product.id}/edit", method: :get %>
      <hr/>
    <% end %>
  <% end %>
