<!DOCTYPE html>
<html>
  <head>
    <title>StoreShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p><a href="/stores" style="color: black">All Stores</a><br/></p>
    <p><a href="/products" style="color: black">All Products</a></p>
    <%= yield %>
  </body>
</html>
